<center><h1>Feng Liu's Twitter Timeline</h1></center>

<ul>
<% @tweets.each do |tweet| %>
  <li><%= tweet.text %> <a href="http://twitter.com/liufeng/status/<%= tweet.id %>"><%= time_ago_in_words(tweet.created_at) %></a></li>
<% end %>
</ul>

<center><%= paginate @tweets %></center>
